<nav class="index">
   <div class="button"><a href='articles/new'>New Post</a></div>
   <h1>This is Jongmin's Travel Blog!</h1>
   <p>This is the first Rails application Jongmin created on his own. The purpose of this blog is to practice Ruby on Rails and HTML/CSS skills. The blog includes pictures and travel stories. You can leave comments on each post. Hope you enjoy it.</p>
</nav>

<div id="big_container">
<div class="container text-center">
  <h1>Stories</h1>
</div>
<% @articles.each do |article| %>
  <div class="container">
    <strong><%= article.title %></strong> 
    <%= article.created_at.strftime("%m/%d/%y") %><br />
  </div>
  <div class="container image">
    <%= image_tag article.image_url(:thumb) %>
  </div>
  <div class="container content">
    <%= article.content %><br />
  </div> 
  <div class="container">
  <%= link_to 'Edit', edit_article_path(article), class: 'links' %> |
  <%= link_to 'Delete', article_path(article), class: 'links', method: :delete, data: { confirm: 'Are you sure?'} %> |
  <%= link_to pluralize(article.comments.count, 'comment'), article_comments_path(article), class: 'links' %> |
  <%= link_to 'New comment', new_article_comment_path(article), class: 'links' %>
  <br /><br />
  </div>
  
<% end %>  
</div>

