<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag 'articles', media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="navbar">
    <%= link_to 'Blog', root_path, class: 'logo' %>
    <section class="menu">
      <%= link_to 'About', about_path, class: 'menu-link' %>
      <%= link_to 'Contact', contact_path, class: 'menu-link' %> 
      <% if logged_in? %>
        <%= link_to 'Logout', root_path, method: :delete, class: 'menu-link' %>
      <% else %>
        <%= link_to 'Login', root_path, class: 'menu-link' %> 
      <% end %>
    </section>
  </nav>
  <div class="with-flash">
   <div class="message">
    <%= flash[:alert] %>
    <%= flash[:danger] %>
   </div>
  <%= yield %>
  </div>
  <footer>
    <p>
      @2015 Jongmin's Travel Blog
    </p>
  </footer>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
