<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag 'articles', media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
   <a href='articles/new'>New Post</a>
  </nav>
  <%= flash[:alert] %>
  <%= flash[:danger] %>
  <%= yield %>
  <footer>Copyright</footer>
</body>
</html>
